* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

html {
  font-size: 16px;
  background-color: white;
}

/*Header*/
header {
  width: 100%;
}

.header {
  flex-direction: row;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 30px;
  margin-left: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
}

.nav ul {
  display: flex;
  margin-right: 20px;
}

.nav li {
  list-style: none;
  padding: 5px;
}

.nav a {
  text-decoration: none;
  color: gray;
}

.buy-now {
  display: flex;
  border: 1px solid rgb(3, 95, 199);
  background-color: rgb(3, 95, 199);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 100px;
}

.buy-now a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: rgb(3, 95, 199);
  cursor: pointer;
  transition-duration: 0.5s;
}

/*Main*/

.section-container {
  width: 100%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.section1-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/bg/background-top.svg);
  background-size: contain;
}

.section1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 5%;
}

.div-nav {
  display: flex;
  gap: 10px;
}

.play {
  border: 1px solid rgb(15, 125, 235);
  background-color: rgb(15, 125, 235);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 100px;
}

.play a {
  text-decoration: none;
  color: white;
}

.learn {
  border: none;
  background: none;
}

.learn a {
  text-decoration: none;
  color: rgb(3, 95, 199);
  font-weight: 600;
}

.learn a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Logos*/

.logos div > img {
  border: white;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px 1px rgb(185, 185, 185);
  overflow: visible;
  padding: 10px;
}

.logos {
  display: grid;
  grid-template-rows: 0em 1fr;
  width: 50%;
  margin-top: 20px;
}

.google {
  display: flex;
  height: 40px;
  margin-left: 20px;
}

.atl-asa {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-around;
  margin-left: 40px;
}

.paypal-weave {
  margin-top: 50px;
  display: flex;
  height: 60px;
  width: 100%;
  gap: 40%;
}

.google-ads {
  margin-top: 20px;
  display: flex;
  height: 40px;
  margin-left: 100px;
}

.g-calendar {
  margin-top: -30px;
  margin-left: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  height: 60px;
}

/*Subsection*/

.subsection1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subsection1 #details {
  margin-left: 10%;
  margin-right: 10%;
}

.subsection1 h2 {
  font-weight: 600;
}

.subsection1 p {
  color: rgb(129, 129, 129);
}

.subsection1 ul {
  display: flex;
  justify-content: space-evenly;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.list-container h2 {
  padding-top: 80px;
  margin-bottom: 0;
}

.list-container p {
  font-size: 12px;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  position: relative;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e0e0e0;
  opacity: 50%;
  z-index: 10;
}

#list-circles {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

#list-circles li {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ecf2ff !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  background-color: white;
  z-index: 11;
  border: 3px solid white;
}

.list-text {
  position: absolute;
  top: 60px;
  text-wrap: nowrap;
}

.center {
  width: 5px;
  height: 5px;
  background-color: #0066ff;
  border-radius: 50%;
}

.subsection1 ul li {
  list-style-type: none;
  text-align: center;
}

/*Pricing*/

.price-container {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 80px;
  height: min-content;
}

.price-container > div {
  padding: 20px;
}

.price-container img {
  width: 40px;
}

.price-container h3 {
  font-size: 13px;
}

.price-container p {
  font-size: 11px;
}

/*Price-Box*/

.price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(182, 182, 182, 0.5) 4px 4px 10px 3px;
}

.price-box h2 {
  font-size: 32px;
  font-weight: 300;
}

.price-box .price-box-section {
  display: flex;
  align-items: baseline;
  height: auto;
  gap: 5px;
  border-bottom: rgba(218, 218, 218, 0.589) 2px solid;
}

.price-box #price-text {
  padding-bottom: 30px;
}

.price-container {
  font-size: 10px;
}

.play {
  display: flex;
  font-size: 10px;
  gap: 5px;
}

.play-circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
}

.play-icon {
  position: relative;
  top: 5px;
  left: 5px;
  border-left: 6px solid #0066ff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

/*Price Details*/

.price-details {
  display: grid;
  grid-template-columns: auto auto;
}

.price-details > div {
  padding: 10px;
}

/*Box 1*/

.price-details {
}

/*Box 2*/

.price-details2 {
}

/*Box 3*/

.cancel {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.price-details button {
  border: none;
  border-radius: 50px;
  color: white;
  background-color: rgba(13, 177, 108, 0.815);
  height: min-content;
  font-size: 10px;
}

/*Box 4*/

.price-details4 {
}

/*Start hiring section*/

.hiring-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(29, 47, 104);
}

/*Quote*/

.hire-us {
  display: flex;
  margin: 20%;
  flex-direction: column;
  text-align: left;
  color: white;
  align-content: center;
}

.hire-us img {
  width: 50px;
  border-radius: 50%;
}

#hire-us-subtext {
}

#quote-text {
  color: white;
}

#quote-author {
  font-size: 18px;
  color: white;
}

.quote-author-subtext {
}

/*Hiring Details*/

.hiring-form {
  margin: 3%;
  border: none;
  border-radius: 10px;
  background-color: white;
}

#privacy-policy1 {
}

#privacy-policy2 {
}

#get-started {
}

/*Footer*/

.footer-container {
}

/*Footer Contact*/

.footer-contact {
}

.footer-contact img {
  width: 100px;
}

#footer-contact-address {
}

#footer-contact-phone {
}

/*Footer Links*/

.footer-links {
}

.footer-links ul {
}

.footer-links li #company-title,
.footer-links li #features-title,
.footer-links li #documentation-title,
.footer-links li #resources-title {
}
