* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/*Header*/
header {
  width: 100%;
}

.header {
  flex-direction: row;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 30px;
  margin-left: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  margin-right: 20px;
}

.nav li {
  list-style: none;
  padding: 5px;
}

.nav a {
  text-decoration: none;
  color: gray;
}

.buy-now {
  display: flex;
  border: 1px solid rgb(3, 95, 199);
  background-color: rgb(3, 95, 199);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 100px;
}

.buy-now a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: rgb(3, 95, 199);
  cursor: pointer;
  transition-duration: 0.5s;
}

/*Main*/

.section-container {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 50px;
}

.section1-container {
  /* Come back to this 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/bg/background-top.svg);
  background-size: cover;
}
*/
.section1 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.div-nav {
  display: flex;
}

.play {
  border: 1px solid rgb(3, 95, 199);
  background-color: rgb(3, 95, 199);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 100px;
}

.play a {
  text-decoration: none;
  color: white;
}

.learn {
  border: none;
  background: none;
}

.learn a {
  text-decoration: none;
  color: rgb(3, 95, 199);
  font-weight: 600;
}

.learn a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Logos*/

.logos div > img {
  border: white;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgb(185, 185, 185);
  overflow: visible;
  padding: 10px;
}

.logos {
  display: grid;
  grid-template-rows: 0em 1fr;
  width: 50%;
}

.google {
  display: flex;
  height: 40px;
  margin-left: 20px;
}

.atl-asa {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-around;
  margin-left: 40px;
}

.paypal-weave {
  margin-top: 50px;
  display: flex;
  height: 60px;
  width: 100%;
  gap: 40%;
}

.google-ads {
  margin-top: 20px;
  display: flex;
  height: 40px;
  margin-left: 100px;
}

.g-calendar {
  margin-top: -30px;
  margin-left: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  height: 60px;
}

/*Subsection*/

.subsection1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subsection1 #details {
  margin-left: 10%;
  margin-right: 10%;
}

.subsection1 ul {
  display: flex;
  justify-content: space-around;
}

.subsection1 ul li {
  font-weight: 600;
  list-style: none;
  padding: 5px;
}

/*Pricing*/

.price-box {
}

#price {
}

#price-subtext {
}

#price-text {
}

.play {
}

#button-subtext {
}

/*Price Details*/

.price-details-subtext {
}

/*Box 1*/

.price-details {
}

/*Box 2*/

.price-details2 {
}

/*Box 3*/

.price-details3 {
}

/*Box 4*/

.price-details4 {
}

/*Quote*/

.hire-us {
}

#hire-us-subtext {
}

#quote-text {
}

#quote-author {
}

.quote-author-subtext {
}

/*Hiring Details*/

.hiring-form {
}

#privacy-policy1 {
}

#privacy-policy2 {
}

#get-started {
}

/*Footer*/

.footer-container {
}

/*Footer Contact*/

.footer-contact {
}

#footer-contact-address {
}

#footer-contact-phone {
}

/*Footer Links*/

.footer-links {
}

.footer-links ul {
}

.footer-links li #company-title,
.footer-links li #features-title,
.footer-links li #documentation-title,
.footer-links li #resources-title {
}
